body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #998;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* ================= LOGIN ================= */
.login-header {
  width: 100vw;
}
.login-navbar {
  width: 96%;
  height: 3rem;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #425442;
}
/* ================= LOGIN ================= */
/* ================= HOME ================= */

/* ================= HOME ================= */
