body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #998;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* ================= LOGIN ================= */
.login-header {
  width: 100vw;
}
.login-navbar {
  width: 98%;
  height: 3rem;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #425442;
}
/* ================= LOGIN ================= */
/* ================= HOME ================= */
.home-wrapper__columns {
  width: 98%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.feed-column {
  width: 50%;
  background-color: darkgray;
}
.sidebar {
  width: 24%;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.sidebar > button {
  margin-bottom: 1rem;
}
.user-sidebar {
  background: chocolate;
}
.room-sidebar {
  background: cornflowerblue;
}

/* ================= POST ================= */
.card-top__info {
  display: flex;
  flex-direction: row;
}
.card-main__content {
}
.card-bottom__btn {
  display: flex;
  flex-direction: row;
}
.login-form__container > form {
  width: 300px;
  margin: auto;
  display: flex;
  flex-direction: column;
}
/* ================= POST ================= */
/* ================= HOME ================= */
