* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Ubuntu", sans-serif;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #edf0f2;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* ================= LOGIN ================= */
/* .login-header {
  width: 100vw;
} */
.login-header {
  position: relative;
  background: rgb(2, 0, 36);
}
.login-navbar {
  width: 98%;
  height: 3rem;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* ================= LOGIN ================= */
/* ================= HOME ================= */
.home-wrapper__columns {
  width: 98%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.feed-column {
  width: 50%;
  /* background-color: darkgray; */
}
.sidebar {
  width: 24%;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.sidebar > button {
  margin-bottom: 1rem;
}
.user-sidebar {
  background: #7d2ae8;
}
.room-sidebar {
  background: #7d2ae8;
}

/* ================= POST ================= */
.card {
  margin: 2rem 0 2rem 0;
  background: rgb(185, 185, 184);
  border-radius: 3%;
  padding: 1rem 0 1rem 0;
}
.card-top__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.card-top__info > div:nth-child(1) {
  /* background: chartreuse; */
  display: flex;
  align-items: center;
}
.card-top__info > div:nth-child(2) {
  background: rgb(210, 213, 216);
  display: flex;
  align-items: center;
}
.card-top__info > div:nth-child(1) > img {
  width: 4rem;
}
.card-main__content {
  margin: 2rem 0 2rem 0;
}
.card-bottom__btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.card-bottom__btn > .card-bottom__btn-left {
  display: flex;
  flex-direction: row;
}
.card-bottom__btn > .card-bottom__btn-left > button:nth-child(1) {
  margin-right: 1rem;
}
.login-form__container > form {
  width: 300px;
  margin: auto;
  display: flex;
  flex-direction: column;
}
/* ================= POST-COMMENT ================= */
.comment-container {
  display: flex;
  margin: 0.5rem 0 0.5rem 0;
  width: 100%;
  background: rgb(165, 168, 170);
}
.comment-img > img {
  width: 3rem;
}
.comment-info > p {
  width: 100%;
  height: auto;
}
textarea {
  margin: 0.5rem 0 0.5rem 0;
  resize: none;
}
/* ================= POST-COMMENT ================= */
/* ================= POST ================= */
/* ================= POST-INPUT ================= */
.add-post {
  background: rgb(162, 165, 164);
}
/* ================= POST-INPUT ================= */
/* ================= HOME ================= */
/* ================= ME ================= */
.user-page__me {
  width: 50%;
  margin: auto;
}
.me-info {
  background: rgb(219, 214, 206);
  margin: auto;
}
.me-info > h3 {
  text-align: center;
}
.me-info__stats {
  display: flex;
  justify-content: space-evenly;
  margin: 1rem 0 1rem 0;
}
.img-container {
  width: 5rem;
  height: 5rem;
  margin: auto;
}
.me-info > div {
  display: flex;
}
/* ================= ME ================= */
